<h2 mat-dialog-title>User Form</h2>
<mat-dialog-content >
    <div class="form-content" >
        <p>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" [(ngModel)]="data.firstName">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" [(ngModel)]="data.lastName">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-select placeholder="Gender" [(ngModel)]="data.gender">
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                    <mat-option value="Other">Other</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="close-button mat-raised-button" (click)="close()" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" class="save-button" (click)="save(data)">
        <mat-icon style="font-size: 20px" >save</mat-icon>Save
    </button>
</mat-dialog-actions>