body {
    background: #5400B5 !important;
    height: 100%;
}

.login-box {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin: 125px auto 0 auto;
    text-align: center;
}

h1 {
    padding-top: 31px;
}

.input-container {
    width: 100%;
}

.login-input {
    width: 270px !important;
}

.login-button {
    margin-top: 20px;
    margin-bottom: 30px;
}