<div class="login-container">

  <div class="login-box mat-elevation-z8">
    <h1>Kiosk Admin</h1>

    <div class="input-container">
      <mat-form-field class="login-input" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field class="login-input" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password">
      </mat-form-field>
    </div>
    <button class="login-button" mat-raised-button color="primary" (click)="login(data)">Log In</button>
  </div>

</div>